@import '../../assets/styles/vars';

.wrapper {
  h1 {
    font-size: 1.3em;
    font-weight: 700;
  }

  h3 {
    margin-top: 16px;
    font-size: 1em;
    font-weight: 500;
  }

  p {
    line-height: 1.2rem;
  }

  p+p,
  section {
    margin-top: 24px;
  }
}